// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom code
@font-face {
    font-family: 'Rohonc Codex';
    src: local('Rohonc Codex'), url(font/rohonc.ttf);
    unicode-range: U+0200-024F, U+2000-24F, U+E000-EBFF;
}

@font-face {
    font-family: 'Rohonc Mirrored';
    src: local('Rohonc Mirrored'), url(font/rohmir.ttf);
}

.pure-rohonc {
    font-family: 'Rohonc Codex';
}

.rohonc {
    font-family: 'Rohonc Codex';
    direction: rtl;
    unicode-bidi: isolate-override;
}
.rohonc:before {
    content: '\00202E'; /* U+202E (RLO) typed between the quotes */
}
.rohonc:after {
    content: '\00202C'; /* U+202C (PDF) typed between the quotes */
}

.rohmir {
    font-family: 'Rohonc Mirrored';
}

.serifFont {
    font-family: 'Liberation Serif', 'Palatino Linotype', 'FreeSerif', serif;
}
