<template>
    <div class="d-flex flex-column">
        <div class="d-flex flex-row flex-nowrap">
            <div>
                <div class="label">
                    Rohonc Mirrored (v1.404):
                </div>
                <div>
                    <textarea
                        v-model="text_v1_404"
                        name="text_v1_404"
                        id="text_v1_404"
                        class="rohmir fs22"
                        cols="30"
                        rows="2"></textarea>
                </div>
                <div class="label">Unicode codes:</div>
                <div class="unicode">{{ text_v1_404_unicode }}</div>
            </div>
            <div class="separator"></div>
            <div>
                <div class="label">
                    Rohonc Codex (v2.0):
                </div>
                <div>
                    <bdo>
                        <textarea
                            v-model="text_v2_0"
                            name="text_v2_0"
                            id="text_v2_0"
                            class="rohonc fs22"
                            cols="30"
                            rows="2">
                        </textarea>
                    </bdo>
                </div>
                <div class="label">Unicode codes:</div>
                <div class="unicode">{{ text_v2_0_unicode }}</div>
            </div>
        </div>
            <span class="label">Karakterek v5 kódolás:</span>
            <span class="k_v5">{{ text_k_v5_code }}</span>
    </div>
</template>

<style>
    textarea {
        width: 100%;
    }
    .fs22 {
        font-size: 22px;
        line-height: 22px;
    }
    .separator {
        flex: 0 0 5%;
    }
    .unicode {
        color: brown;
    }
    .k_v5 {
        color: blue;
    }
</style>

<script>
    export default {
        data() {
            return {
                text_v1_404: "",
                text_v2_0: "",
                text_v1_404_unicode: "",
                text_v2_0_unicode: "",
                text_k_v5_code: "",
                conversionTable: [],
                semaphore: '',
            };
        },
        watch: {
            text_v1_404: function() {
                    this.updateFromV1404();
            },
            text_v2_0: function() {
                    this.updateFromV20();
            }
        },
        methods: {
            updateFromV1404: function() {
                this.text_v2_0 = this.convert(this.text_v1_404, 'v1_404', 'v2_0');
                this.text_v1_404_unicode = this.convertToUnicodeCode(this.text_v1_404);
                this.text_k_v5_code = this.convertToKV5(this.text_v1_404, 'v1_404');
            },
            updateFromV20: function() {
                this.text_v1_404 = this.convert(this.text_v2_0, 'v2_0', 'v1_404');
                this.text_v2_0_unicode = this.convertToUnicodeCode(this.text_v2_0);
            },
            convert: function(text, from, to) {
                if (this.conversionTable.length == 0) {
                    throw 'No conversion matrix';
                }

                var result = '';
                for (var i = 0; i < text.length; i++) {
                    var c = text.charCodeAt(i).toString(16).toUpperCase().padStart(4, '0');
                    var d = this.conversionTable.find(a => { return a[from] == c; });
                    var e = '';
                    if (d != undefined) {
                        var e = JSON.parse('"\\u' + d[to] + '"');
                    }
                    result += e;
                }
                return result;
            },
            convertToKV5: function(text, from) {
                if (this.conversionTable.length == 0) {
                    throw 'No conversion matrix';
                }

                var result = '';
                for (var i = 0; i < text.length; i++) {
                    var c = text.charCodeAt(i).toString(16).toUpperCase().padStart(4, '0');
                    var d = this.conversionTable.find(a => { return a[from] == c; });
                    if (d == undefined) {
                        var e = "??-??";
                    } else if (d['k_v5'] == null) {
                        var e = '';
                    } else {
                        var e = d['k_v5'].substring(0, 2) + '-' + d['k_v5'].substring(2, 4);
                    }

                    if (e == '') {
                        result += ' ';
                    } else if (result.charAt(result.length - 1) == ' ') {
                        result += e;
                    } else {
                        result = (result == ''
                                ? ''
                                : result.substring(0, result.length - 3) + '.')
                                + e;
                    }
                }
                return result;
            },
            convertToUnicodeCode: function(text) {
                var result = '';
                for (var i = 0; i < text.length; i++) {
                    var c = text.charCodeAt(i).toString(16).toUpperCase().padStart(4, '0');
                    result += (result == '' ? '' : ' ') + c;
                }
                return result;
            },
        },
        mounted() {
            axios.get('/api/GetConversionTable')
            .then(response => {
                this.conversionTable = response.data;
                console.log(response.data.length + ' data rows loaded');
                //console.log(response.data);
            })
            .catch(function(error) {
                console.error(error);
            });
        }
    }
</script>
