<template>
    <div id="dictionaryBrowser">
        <h2>
            Glossar
        </h2>
        <div id="searchBar" class="input-group input-group-sm">
            <select
                v-model="language"
                name="language"
                id="language"
                class="form-control language-selector text-white bg-dark"
                @change="LoadDictionary">
                <option value="hu">hu</option>
                <option value="en">en</option>
            </select>
            <input
                v-model="searchKeyLatin"
                type="text"
                name="searchKeyLatin"
                id="searchKeyLatin"
                class="form-control"
                placeholder="Suche"
                @keyup="CatchKeyupEvent">
            <input
                v-model="searchKeyRohonc"
                type="text"
                name="searchKeyRohonc"
                id="searchKeyRohonc"
                class="form-control rohonc"
                placeholder=""
                @keyup="CatchKeyupEvent">
        </div>
        <div v-if="dictionary.length > 0" class="resultsPane serifFont">
            <div class="entry" v-for="entry in displayedEntries"><!--
                --><span v-for="chunk in entry.entry" :class="chunk.style"><!--
                    --><span v-if="chunk.style == 'rohonc'" v-html="chunk.text"></span><!--
                    --><template v-else>{{ chunk.text }}</template><!--
                --></span><!--
            --></div>
        </div>
        <div v-else class="resultsPane h-100 d-flex justify-content-center align-items-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Einladen...</span>
            </div>
        </div>
    </div>
</template>

<style>
    #dictionaryBrowser {
        display: flex;
        flex-flow: column;
        margin-right: .5rem;
        margin-left: .5rem;
    }
    h2 {
        height: 42px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        background: #ccc;
        border: 1px solid #aaa;
        padding: .5rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #searchBar {
        flex: 0;
        margin-bottom: .5rem;
    }
    .language-selector {
        flex: 0 0 4rem !important;
    }
    #searchKey {
        border-color: black;
    }
    .resultsPane {
        flex: 1;
        overflow-y: auto;
        background: rgb(255,255,255);
        background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 80%, rgba(224,224,224,1) 100%);
        background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 80%, rgba(224,224,224,1) 100%);
        background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 80%, rgba(224,224,224,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e0e0e0",GradientType=1);
    }
    .entry {
        margin-top: .5rem;
        padding-left: 1.5rem;
    }
    .entry>*:first-child {
        margin-left: -1rem;
        font-size: 150%;
        line-height: 100%;
    }
    .lemma {
        font-weight: bold;
        color: blue;
    }
    .meta {
        font-style: italic;
        color: #f44;
    }
    .section {
        font-weight: bold;
    }
</style>

<script>
    export default {
        data() {
            return {
                language: 'en',
                dictionary: [],
                displayedEntries: [],
                searchType: 'regular',
                searchKeyLatin: '',
                searchKeyRohonc: '',
                dictFilteredLatin: [],
                dictFilteredRohonc: [],
            };
        },
        methods: {
            CatchKeyupEvent(e) {
                e.preventDefault();
                e.stopPropagation();
            },
            ContainsSearchKey(entry, searchKey) {
                return searchKey == ''
                    || entry.code.indexOf(searchKey) >= 0
                    || entry.entry.findIndex(chunk => chunk.text.indexOf(searchKey) >= 0) >= 0;
            },
            ContainsAnySearchKey(entry, searchKeyLatin, searchKeyRohonc) {
                return (entry.code.indexOf(searchKeyLatin) >= 0
                        || entry.entry.findIndex(chunk => chunk.text.indexOf(searchKeyLatin) >= 0) >= 0)
                    && (entry.code.indexOf(searchKeyRohonc) >= 0
                        || entry.entry.findIndex(chunk => chunk.text.indexOf(searchKeyRohonc) >= 0) >= 0)
                ;
            },
            LoadDictionary() {
                this.searchKeyLatin = '';
                this.searchKeyRohonc = '';
                this.displayedEntries = [];
                this.dictionary = [];

                axios.get('/api/GetDictionary/' + this.language)
                .then(response => {
                    this.dictionary = response.data;
                    if (this.dictionary.length == 0) {
                        this.dictionary.push({ 'entry': [{ 'text': 'Keine Einträge auf dieser Sprache.' }] });
                    }
                    this.displayedEntries = this.dictionary;
                })
                .catch(function(error) {
                    console.error(error);
                });
            }
        },
        watch: {
            searchKeyLatin(val) {
                if (this.searchKeyRohonc == '') {
                    if (val == '') {
                        this.displayedEntries = this.dictionary;
                        return;
                    }
                    this.displayedEntries = this.dictionary.filter(entry =>
                        this.ContainsSearchKey(entry, val)
                    );
                    return;
                }
                this.displayedEntries = this.dictionary.filter(entry =>
                    this.ContainsAnySearchKey(entry, val, this.searchKeyRohonc)
                );
            },
            searchKeyRohonc(val) {
                if (this.searchKeyLatin == '') {
                    if (val == '') {
                        this.displayedEntries = this.dictionary;
                        return;
                    }
                    this.displayedEntries = this.dictionary.filter(entry =>
                        this.ContainsSearchKey(entry, val)
                    );
                    return;
                }
                this.displayedEntries = this.dictionary.filter(entry =>
                    this.ContainsAnySearchKey(entry, this.searchKeyLatin, val)
                );
            },
        },
        mounted() {
            this.LoadDictionary();
        }
    }
</script>
