<template>
  <div>
    <!-- Button trigger modal -->
    <button type="button" class="circular-btn btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">
      ?
    </button>

    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Der Rechnitzer Kodex</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>v 0.1 Lev Z Király, Gábor Tokai 2020</p>
            <p>This online tool, called 'Der Rechnitzer Kodex', named after the <a href="https://en.wikipedia.org/wiki/Rohonc_Codex">Rohonc Codex</a>, is created to facilitate the research of this extraordinary manuscript. It is a constantly updated product of Gábor Tokai and Levente Z Király. See details and references to their work on the Wikipedia page, linked above.</p>
            <h5>Components</h5>
            <p>The main screen is divided into three columns. (On mobile devices and narrow screens some or all of them jump one under the other.) In the left column the scanned image of a page can be seen. In the middle column a transcription of the same page appears. In the right column a glossary of decoded/translated symbols can be found.</p>
            <h5>Searching in the glossary</h5>
            <p>Type a word or a phrase in the search box. The entries in the glossary are filtered so that only those are shown which contain the given word or phrase.</p>
            <p>You can filter the glossary by Rohonc text, too. In the moment, no user-friendly input method exists for typing Rohonc symbols. However, you can copy and paste any text written with Rohonc symbols into the search box. In order to properly display them there, the switch on the left of the search box must be set to Rohonc style. This changes the writing direction and the typeface in the search box.</p>
            <h5>Navigation</h5>
            <p>You can navigate to the previous and the next page by pressing the right or left arrow buttons on the keyboard, or by clicking on the left and right pointing floral in the header of the transcription. You can reach any page from the dropdown list in the middle. If the input focus is set on the dropdown, you can type the number and the page of the folio. To set the focus on the dropdown from outside of it, press arrow up or down on the keyboard.</p>
            <p>The pages of the codex are shown in order of the reconstructed text flow. The text begins with pages 4v, 4r, then goes on through folios 2, 3, 1, 7, 6, 8. There is a break in the text here (some pages are lost). Based on the content, folio 5 should follow, then after another break the text continues on f. 15.</p>
            <p>Folio 9 is placed between f. 63 and 64.</p>
            <p>Folios 14, 11, 12, 10 and 13, in this order, come after f. 215. Then with a break in the text come folios 218, 217 and 216, then 219, 220 and 221, finally 223, 222 and as a separate fragment, 224.</p>
            <h5>Contact</h5>
            <p>lev.z.kiraly <i>{at}</i> gmail <i>{dot}</i> com</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
  .circular-btn {
    border-radius: 50%;
  }
</style>

<script>
    export default {
        data() {
            return {
            };
        },
    }
</script>
