<template>
    <div id="pageViewerImage">
        <div id="pictureControlPanel">&nbsp;</div>
        <div id="pictureContainer">
	        <img
	        	v-if="folio != '' && folio != 0"
	        	id="pictureImage"
	        	:src="pictureImagePath"
	        	:alt="'' + folio + side"
	        	@load="InitializeMagnifier"
	        	@mouseenter="SwitchOnMagnifier"
	        	@mousemove="MoveMagnifier">
	        <div
	        	v-if="folio != '' && folio != 0"
	        	v-show="isImageMagnified"
	        	id="pictureMagnifiedImage"
	        	@mouseleave="SwitchOffMagnifier"
	        	@mousemove="MoveMagnifier"></div>
        </div>
    </div>
</template>

<style>
    #pageViewerImage {
        flex: 0 0 30vw;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-bottom: 1rem;
        margin-right: .5rem;
        margin-left: .5rem;
    }
    @media only screen and (min-width: 700px) and (max-width: 960px) { /* tablet view */
        #pageViewerImage {
            flex: 0 0 48vw;
        }
    }
    #pictureContainer {
        position: relative;
        width: 100%;
    }
    #pictureImage {
    	width: 100%;
        border: 1px solid #888;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #pictureMagnifiedImage {
        position: absolute;
        border: solid #000;
        cursor: none;
        background-repeat: no-repeat;
    }
</style>

<script>
	export default {
		props: [ 'folio', 'side' ],
		data() {
			var imageCollecion = {
				savescuScan: 'savescu-scan',
				annotated: 'annotated',
			};
			return {
                imageFolder: imageCollecion.savescuScan,
                imageBorderWidth: 1, // px
                imageBoundingRect: null,
                $magnifiedImage: null,
                isImageMagnified: false,
                magnifierRelativeSize: .50, // 30% of the original image
                magnifierBorderWidth: 3, // px
                zoom: 2,
                imageWidth: 0,
                imageHeight: 0,
                magnifierWidth: 0,
                magnifierHeight: 0,
			};
		},
        computed: {
            pictureImagePath() {
                return 'img/' + this.imageFolder + '/' + this.folio + this.side + '.jpg';
            },
        },
        methods: {
        	SwitchOnMagnifier() {
        		this.isImageMagnified = true;
        	},
        	SwitchOffMagnifier() {
        		this.isImageMagnified = false;
        	},
        	InitializeMagnifier() {
        		// update image properties
        		$('#pictureImage').css({ "border-width": this.imageBorderWidth + 'px' });
        		this.imageBoundingRect = $('#pictureImage')[0].getBoundingClientRect();
        		this.imageWidth = $('#pictureImage').width();
        		this.imageHeight = $('#pictureImage').height();

        		// set magnifier properties
        		this.mHalfWidth = Math.floor(this.imageWidth * this.magnifierRelativeSize / 2);
        		this.mHalfHeight = Math.floor(this.imageHeight * this.magnifierRelativeSize / 2);
 				this.$magnifiedImage = $('#pictureMagnifiedImage')
 					.css({
 						"border-width": this.magnifierBorderWidth + 'px',
 						"width": (this.mHalfWidth * 2) + 'px',
 						"height": (this.mHalfHeight * 2) + 'px',
 						"background-image": 'url(' + this.pictureImagePath + ')',
 						"background-size": (this.imageWidth * this.zoom) + 'px ' + (this.imageHeight * this.zoom) + 'px',
 					});
         	},
         	MoveMagnifier(e) {
				e.preventDefault();

				var pos = this.GetCursorPos(e);
				var x = pos.x;
				var y = pos.y;

				var framePosX = Math.min(Math.max(x - this.mHalfWidth, 0), this.imageBoundingRect.width - (2 * this.mHalfWidth));
				var framePosY = Math.min(Math.max(y - this.mHalfHeight, 0), this.imageBoundingRect.height - (2 * this.mHalfHeight));

				var bgPosX = - Math.floor(
								(Math.min(
										Math.max(x, this.mHalfWidth - 1),
										this.imageBoundingRect.width - this.mHalfWidth
									) - this.mHalfWidth + 1)
								/ (this.imageBoundingRect.width - (2 * this.mHalfWidth))
								* this.zoom * (this.imageWidth - this.mHalfWidth)
							) - this.magnifierBorderWidth;
				var bgPosY = - Math.floor(
								(Math.min(
										Math.max(y, this.mHalfHeight - 1),
										this.imageBoundingRect.height - this.mHalfHeight
									) - this.mHalfHeight + 1)
								/ (this.imageBoundingRect.height - (2 * this.mHalfHeight))
								* this.zoom * (this.imageHeight - this.mHalfHeight)
							) - this.magnifierBorderWidth;
				this.$magnifiedImage
					.css({
						"left": framePosX + 'px',
						"top": framePosY + 'px',
						"background-position": bgPosX + 'px ' + bgPosY + 'px',
					});
	      	},
			GetCursorPos(e) { // includes image border
				e = e || window.event;
				return {
					x: Math.floor(e.pageX - window.pageXOffset - this.imageBoundingRect.left),
					y: Math.floor(e.pageY - window.pageYOffset - this.imageBoundingRect.top),
				};
			},
        },
	}
</script>
