<template>
    <div id="pageViewer">
        <page-viewer-image :folio="folio" :side="side"></page-viewer-image>
        <div id="textFrame">
            <div id="controlPanel" class="col-auto">
                <button id="pageLeft" class="mr-3 btn btn-outline-dark btn-sm" @click="NavigateBack">&#x2190;</button>
                <select v-model="pageNum" name="pageNum" id="pageNum" class="form-control-plaintext" @keyup="StopPropagation">
                    <option v-if="pageList.count == 0" value="">–</option>
                    <option v-for="pageOption in pageList" :value="pageOption">{{ pageOption }}</option>
                </select>
                <button id="pageRight" class="ml-3 btn btn-outline-dark btn-sm" @click="NavigateForward">&#x2192;</button>
            </div>
            <div id="viewerPane">
                <text-block
                    v-for="block, i in pageText"
                    :title="FormatTitle(block)"
                    :textBlock="block.rows"
                    :key="'block_' + i"></text-block>
            </div>
        </div>
    </div>
</template>

<style>
    #pageViewer {
        display: flex;
        flex-flow: column;
        min-width: 320px;
        border-right: 0; /* mobile view */
    }
    @media only screen and (min-width: 700px) { /* tablet view */
        #pageViewer {
            flex-flow: row nowrap;
        }
    }
    #textFrame {
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        margin-bottom: 1rem;
        margin-right: .5rem;
        margin-left: .5rem;
    }
    #controlPanel, #pictureControlPanel {
        flex: 0 0 42px;
        max-height: 42px;
        align-self: stretch;
        background: #ccc;
        border: 1pt solid #aaa;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    #pageLeft, #pageRight {
        border-radius: 50%;
        border-width: 0;
        font-family: 'FreeSans', 'DejaVu Serif', 'Calibri', 'Times New Roman';
        font-size: larger;
    }
    #pageNum {
        width: auto;
    }
    #viewerPane {
        flex: 1;
        overflow-y: auto;
        padding: .5rem;
    }
</style>

<script>
    import PageViewerImage from './PageViewerImage.vue'

    export default {
        components: { 'page-viewer-image': PageViewerImage },
        data() {
            return {
                folio: 0,
                side: '',
                pageList: [],
                pageNum: 0,
                pageText: [],
                blockTitle: {
                    'main'   : 'Haupttext',
                    'header' : 'Kopfzeile',
                    'column' : 'Spalte',
                    'block'  : 'Textblock',
                    'picture': 'Bildinschrift',
                },
            };
        },
        methods: {
            AxiosGet(url, success) {
                axios.get(url)
                .then(response => success(response.data, this))
                .catch(function(error) {
                    console.error(error);
                });
            },
            GetPageList() {
                this.AxiosGet('/api/GetPageList', (data, that) => {
                    that.pageList = data;
                    that.pageNum = that.pageList[0];
                });
            },
            GetPageText(page) {
                this.AxiosGet('/api/GetPage/' + page, (data) => this.pageText = this.TranslateMarkupInEachBlock(data));
            },
            TranslateMarkupInEachBlock(blocks) {
                blocks.forEach(block => {
                    block.rows = block.rows.map(pageRow => {
                        pageRow.text = this.TranslateMarkup(pageRow.text);
                        return pageRow;
                    });
                });
                return blocks;
            },
            TranslateMarkup(text) {
                return text
                    .replace(/\uF002/ug, '<span class="underline">')
                    .replace(/\uF003/ug, '</span>')
                    .replace(/\uF004/ug, '<span class="strikethrough">')
                    .replace(/\uF005/ug, '</span>')
                    .replace(/\uF006/ug, '<span class="pennib">')
                    .replace(/\uF007/ug, '</span>')
                    .replace(/\uF008/ug, '<span class="insertion">')
                    .replace(/\uF009/ug, '</span>')
                    .replace(/\uF00A/ug, '<span class="uncertain">')
                    .replace(/\uF00B/ug, '</span>')
                    .replace(/([\uF010-\uF01F]+)/ug, '<span class="metaChar">$1</span>');
            },
            NavigateBack(e) {
                var pageIndex = this.pageList.indexOf(this.pageNum);
                if (pageIndex > 0) {
                    this.pageNum = this.pageList[pageIndex - 1];
                }
                e.preventDefault();
                e.stopPropagation();
            },
            NavigateForward(e) {
                var pageIndex = this.pageList.indexOf(this.pageNum);
                if (pageIndex < this.pageList.length - 1) {
                    this.pageNum = this.pageList[pageIndex + 1];
                }
                e.preventDefault();
                e.stopPropagation();
            },
            KeyGrabber(e) {
                switch (e.keyCode) {
                    case 37: // left arrow
                        this.NavigateBack(e);
                        break;
                    case 39: // right arrow
                        this.NavigateForward(e);
                        break;
                    case 38: // up arrow
                    case 40: // down arrow
                        $('#pageNum').focus();
                        break;
                }
            },
            StopPropagation(e) {
                e.stopPropagation();
            },
            FormatTitle(block) {
                return this.blockTitle[block.blocktype]
                    + (block.blocknumber
                        ? ' № ' + block.blocknumber
                        : '');
            }
        },
        watch: {
            pageNum(val) {
                this.GetPageText(val);
                this.folio = val.substring(0, 3);
                this.side = val.substring(3, 4);
            }
        },
        created() {
            document.addEventListener('keyup', this.KeyGrabber);
        },
        destroyed() {
            document.removeEventListener('keyup', this.KeyGrabber);
        },
        mounted() {
            this.GetPageList();
        }
    }
</script>
