<template>
    <div class="pageBlock">
        <span class="blockTitle">{{ title }}</span>
        <table class="blockRows">
            <tr v-for="r in textBlock" class="pageRow">
                <td
                    class="text rohonc"
                    :class="{ 'text-align-start': (r.alignment == null || r.alignment == 's'), 'text-align-center': r.alignment == 'c', 'text-align-end': r.alignment == 'e' }"
                    v-html="r.text"></td>
                <td class="location">{{ FormatRowNumber(r.rownumber) }}</td>
            </tr>
        </table>
    </div>
</template>

<style>
    .pageBlock {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 1rem 2rem 0;
                                /*border: 1px red dotted;*/
    }
    .blockTitle {
        margin-bottom: .5rem;
    }
    .blockRows {
                                /*border: 1px green dotted;*/
        margin-right: -2rem;
    }
    .pageRow {
        vertical-align: baseline;
    }
    .location {
        width: 2rem;
        text-align: right;
                                /*border: 1px brown dashed;*/
    }
    .text {
        font-size: 110%;
                                /*border: 1px lightgrey solid;*/
        white-space: nowrap;
    }
    .text-align-start {
        text-align: right;
    }
    .text-align-center {
        text-align: center;
    }
    .text-align-end {
        text-align: left;
    }

    .uncertain {
        color: brown;
    }
    .underline {
        text-decoration: underline;
    }
    .strikethrough {
        text-decoration: line-through;
    }
    .insertion {
        vertical-align: super;
        font-size: smaller;
    }
    .pennib {
        vertical-align: 1px;
        font-size: smaller;
        color: #444;
    }
    .metaChar {
        color: red;
    }
</style>

<script>
    export default {
        props: [ 'title', 'textBlock' ],
        methods: {
            FormatRowNumber(rownumber) {
                return rownumber % 5 == 0 ? rownumber : '';
            }
        },
    }
</script>
